<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/use_oneday.css') }}">
    <script src="{{ url_for('static', filename='./js/common.js') }}"></script>
    <!-- <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/use_oneday.css">
    <script src="../static/js/common.js"></script> -->
    <title>짭 페달로</title>
</head>

<body>
    <div class="wrap  b">
        <nav class="">
            <div>일일이용권 사용</div>
        </nav>
        <div class="date">
            일일이용권 코드 6자리를 입력해주세요
        </div>
        <div class="container_one ">
            <span>일일이용권 코드</span>
            <input type="text" class="use_oneday" maxlength="6">
        </div>
        <div class="info">
            <span class="lead">주의사항</span><br>
            - 1회 대여시 2시간 이내에 반납하여야 합니다.<br>
            (2시간 초과시 30분당 1,000원 부과)
        </div>
        <button type="button" id="pay" onclick="use_oneday_post()">사용하기</button>
    </div>
</body>

</html>